---
import Layout from '../layouts/Layout.astro'; 
---

<Layout title="Korrektur Kumpel Project" description="Explore the visual journey of Korrektur Kumpel">
  <main class="flex flex-col items-center justify-center min-h-screen text-center space-y-8 p-8 bg-light-green">
    
    <!-- Hero Section: Company Name and Slogan -->
    <header class="space-y-4">
      <h1 class="text-5xl font-extrabold text-gradient mb-4 animate-fadeInDown">
        Welcome to <span class="text-green-dark">Korrektur Kumpel</span>
      </h1>
      <p class="text-lg text-neutral mb-8 max-w-3xl animate-fadeInUp">
        So that your after-work time is really yours. Explore our innovative tool designed to reduce the workload for teachers, giving them more freedom.
      </p>
    </header>

    <section>
      <img src="/images/home-image.webp" alt="Education and Technology" class="w-full max-w-3xl rounded-lg shadow-lg animate-fadeIn" />
    </section>

  

    <!-- Call-to-Action Button  -->
    <a href="/explore" class="px-10 py-3 bg-green-mid text-white rounded-lg shadow-lg transition-transform transform hover:scale-105 ">
      Explore Our Journey
    </a>
		
  </main>
</Layout>

<style>
.text-gradient,h2 {
  background: linear-gradient(90deg, #16423C, #6A9C89);
  -webkit-background-clip: text;
  color: transparent;
}

.text-green-dark {
  color: #16423C;
}

.bg-light-green {
  background-color: #E9EFEC;
}

.bg-green-mid {
  background-color: #577a6c;
}

.bg-green-dark {
  background-color: #16423C;
}

.text-neutral {
  color: #16423C;
}

/* Animations */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeInDown {
  from { opacity: 0; transform: translateY(-30px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(30px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 1.5s ease-in-out;
}

.animate-fadeInDown {
  animation: fadeInDown 1.5s ease-in-out;
}

.animate-fadeInUp {
  animation: fadeInUp 1.5s ease-in-out;
}

.hover\:scale-105:hover {
  transform: scale(1.05);
}
</style>
